asgiref
auditlog3
Brotli
certifi
cffi
charset-normalizer
cloudinary
cryptography
cssselect2
dj-database-url
Django
django-autoslug
django-bootstrap-daterangepicker
django-calculation
django-cleanup
django-cors-headers
django-countries
django-filter
django-heroku
django-hvad
django-mathfilters
django-model-mixins
django-multiselectfield
django-nested-admin
django-rest-knox
django-rest-passwordreset
django-use-email-as-username
djangorestframework
djangorestframework-jsonapi
fonttools
html5lib
idna
inflection
mysql-connector-python
mysqlclient
Pillow
protobuf
pycparser
pydyf
PyJWT
PyMySQL
pyphen
python-dateutil
python-decouple
python-monkey-business
pytz
requests~=2.26.0
six~=1.14.0
sqlparse
tinycss2
twilio
typing_extensions
tzdata
urllib3
weasyprint
webencodings
whitenoise
zopfli
python-dotenv~=1.0.0